@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    ViewData["Title"] = @StringLocalizer["CreateLobby"];

    // Récupérer le nom d'utilisateur depuis le cookie
    var userName = Context.Request.Cookies["username"];
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

    <div class="container">
        <h2>@StringLocalizer["CreateLobby"]</h2>

        @if (string.IsNullOrEmpty(userName))
        {
            <p style="color: red;">@StringLocalizer["MustBeLoggedToCreateLobby"].</p>
        }
        else
        {
            <form method="post">
                <!-- Passer le nom d'utilisateur récupéré depuis le cookie -->
                <input type="hidden" name="hostUserId" value="@userName" />
                <button type="submit">@StringLocalizer["Create"]</button>
            </form>

            @if (ViewData["LobbyLink"] != null)
            {
                <div class="link-container">
                    <p><strong>@StringLocalizer["LinkToYourLobby"] :</strong></p>
                    <input type="text" value="@ViewData["LobbyLink"]" readonly />
                    <p>@StringLocalizer["ShareThisLink"].</p>
                </div>
            }
        }
    </div>

</body>
</html>
